#main-footer {
    background: #343a40;
    color: #fff;
}

#page-header {
    height: 200px;
    background: url('../assets/img/header.jpg');
    background-position: 10% 70%;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: #343a40;
    border-bottom: 1px #eee solid;
    padding-top: 60px;
}